html {
	background: white;
	height: 100vh;

	--main-p1: #344955;
	--main-p2: #232f34;
	--main-s1: #F9AA33;
	--main-s2: #BDBDBD;
}

body {
	height: 100vh;
	font: 14px "Century Gothic", Futura, sans-serif;
}

.aboutTitle {
	border-bottom: 2px solid var(--main-s1);
}

.sideBar {
	border-left: 2px solid var(--main-s1);
	border-right: 2px solid var(--main-s1);
	border-bottom: 2px solid var(--main-s1);
}

.header {
	color: white;
	background: var(--main-p1);
}

.gutter {
	border-right: 2px solid var(--main-s1);
	border-bottom: 2px solid var(--main-s1);
}